<div class="container">
  <div class="row">
    <a routerLink="..">
      <i class="bi bi-arrow-left"></i>
      Back
    </a>
    <div class="col text-center">
      <p>"This is an agreement between you the user, and Robert Rosentrater the author of this Alexa skill. User agrees
        to accept full responsibility for any and all security risks that come with port forwarding a device on their
        internal network to the world wide web (Necessary to successfully use this skill).Robert Rosentrater is not
        liable for any unauthorized use of the user's print server, or any other devices or IPs that were configured to
        work with this skill.User acknowledges they are responsible for the condition of their printer. Robert
        Rosentrater is not liable for any damages caused by a device malfunction, or skill triggered operation (Over
        extending the print head for example)"</p>
    </div>
  </div>
</div>
