<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/octoprint-alexa" routerLinkActive="active">Alexa Skill</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/scotts-appliance" routerLinkActive="active">My dad's site</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/hire-me" routerLinkActive="active">Hire Me</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="https://linkedin.com/in/robert-rosentrater" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-linkedin"></i>
                Linkedin
                <i class="bi bi-box-arrow-up-right" style="opacity: 0.5"></i>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="https://github.com/rorosentrater" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-github"></i>
                Github
                <i class="bi bi-box-arrow-up-right" style="opacity: 0.5"></i>
              </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item" href="mailto:rorosentrater@hotmail.com">
                <i class="bi bi-envelope"></i>
                Email me
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
