<h1 class="text-center">Scott's Appliance Repair Service</h1>
<p class="text-center">Got a broken fridge? Stove? Washer? ...some other home appliance? Live in or around the Salem NH area? Call my dad!
  Head on over to his site for more details and contact information.
  <br>
  <a class="btn btn-primary" href="http://scottsappliance.co">scottsappliance.co <i class="fa fa-external-link-alt"></i></a>
</p>
<p class="text-center text-muted">(Psst, I made that website too. If you call, tell him I said hi!)</p>
