<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="../assets/images/amazon-alexa-vector-logo.svg" alt="Amazon Alexa" style="width: 50%">
    </div>
  </div>
  <div class="row text-center">
    <i class="fas fa-plus col" style="font-size: 3em"></i>
  </div>
  <div class="row">
    <div class="col text-center">
      <img src="../assets/images/Octoprint-logo.png" alt="Octoprint" style="width: 50%">
    </div>
  </div>
  <div class="row text-center">
    <h1 class="col">Octoprint voice assistant</h1>
  </div>
  <div class="row">
    <p>Amazon Alexa is a voice assistant that, on top of it's default features, has the ability to learn new "skills".
      If you didn't know, there is a sort of app store for Alexa. I have written and published a skill to the Amazon
      store called "Octoprint voice assistant" that you can download and use with Alexa today. What is the Octoprint
      voice assistant you might ask? Well it makes use of the popular 3D printing management software Octoprint. If you
      connect your printer to a computer (nothing fancy, most people use Raspberry PIs) you can download and install
      this software to manage, monitor, and remotely access your 3D printer. My skill takes advantage of the Octoprint
      APIs and allows you to use certain octoprint features WITH YOUR VOICE</p>
  </div>
  <div class="row text-center">
    <h5 class="col">Alexa...Octoprint...3D printers...what?</h5>
  </div>
  <div class="row text-center">
    <p class="col">If you aren't that familiar with Alexa or the world of 3D printing, maybe this video will help you
      understand...</p>
  </div>
  <div class="row">
    <iframe class="col" width="560" height="315" src="https://www.youtube-nocookie.com/embed/Aeb0CHEzaQM"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
  </div>
  <div class="row text-center">
    <h3 class="col">Cool! I want to try!</h3>
  </div>
  <div class="row text-center">
    <p class="col">Awesome. Here is a link to the skill and some other resources you might need</p>
  </div>
  <div class="row mb-3">
    <a href="https://www.amazon.com/Robert-Rosentrater-Octoprint-Voice-Assistant/dp/B084D26692" target="_blank"
       rel="noopener noreferrer" class="col btn btn-primary mx-1">
      Get the Alexa skill
      <i class="fas fa-external-link-alt" style="opacity: 0.5"></i>
    </a>
    <a href="https://octoprint.org/" target="_blank" rel="noopener noreferrer" class="col btn btn-success mx-1">
      Get Octoprint
      <i class="fas fa-external-link-alt" style="opacity: 0.5"></i>
    </a>
    <a href="https://www.raspberrypi.org/" target="_blank" rel="noopener noreferrer" class="col btn btn-danger mx-1">
      Get a raspberry pi
      <i class="fas fa-external-link-alt" style="opacity: 0.5"></i>
    </a>
  </div>
</div>
