<div class="row text-center">
  <h1>Business Inquiries</h1>
  <p>Got a job of the software variety that needs doing? Get in touch!</p>
</div>
<form #hireMeForm="ngForm" (ngSubmit)="submit(hireMeForm)" ngNativeValidate>
  <div class="row my-3">
    <div class="col-sm-12 col-md-6">
      <input required type="text" class="form-control" placeholder="First name" aria-label="First name" ngModel name="fname" #fname="ngModel">
    </div>
    <div class="col-sm-12 col-md-6">
      <input required type="text" class="form-control" placeholder="Last name" aria-label="Last name" ngModel name="lname" #lname="ngModel">
    </div>
  </div>
  <div class="row my-3">
    <div class="col">
      <input required type="email" class="form-control" aria-label="Email" placeholder="Email" ngModel name="email" #email="ngModel">
    </div>
  </div>
  <div class="row my-3">
    <div class="col">
      <input type="tel" class="form-control" aria-label="Phone number" placeholder="Phone number (optional)" ngModel name="phone" #phone="ngModel">
    </div>
  </div>
  <div class="row my-3">
    <div class="col">
      <textarea required class="form-control message" aria-label="Message" placeholder="Message..." ngModel name="message" #message="ngModel"></textarea>
    </div>
  </div>


  <div class="row my-3">
    <div class="text-center" [ngClass]="this.captcha ? 'col-6':'col-12'">
      <re-captcha class="recaptcha" (resolved)="resolved($event)" siteKey="6Le08k8aAAAAANd1HfizOmnspxgrE5fw_f_bVBcI"></re-captcha>
    </div>
    <div class="text-center submit-col" [ngClass]="this.captcha ? 'col-6':'hidden-col'">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>



